<div class="row">
  <div class="col-md-3">
    <%= image_tag avatar_url(@user), class: "avatar-full" %>
    <div class="card">
      <div class="card-header p-2 rounded-top">
        Verification 
      </div>
      <div class="panel-body p-3 rounded-bottom">
        Email Address <br/>
        Phone Number <br/>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>
    <div class="description row-space-3">
      <%= @user.description %>
    </div>
  </div>
</div>
